html
{
  font-family: Arial;
}

h1
{
  font-size: 3.25em;
  text-align: center;
}


#countLabel
{
  font-size: 8em;
  display : block; 
  margin: auto;
  text-align: center; 
  padding : 30px; 
}

.container
{
  text-align: center;
}

.container button
{
  padding : 15px ; 
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.25em;
  margin-left : 4px; 
  margin-right : 4px; 
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color : white; 
  background-color: hsl(204, 89%, 45%); 
  transition: background-color 0.25s;
}

.container button:hover
{
  background-color: hsl(204, 96%, 29%); 
}