*
{
  font-family: Verdana;
  text-align: center;
}

h1
{
  font-size: 2.5em;
}

#rollBtn
{
  font-size: 2.5em;
  padding : 10px 25px ; 
  border-radius : 10px;
  margin-top : 55px; 
  cursor: pointer;
  background-color: hsl(335, 99%, 44%);
  color : white; 
  border: none; 
  transition : backgorund-color 0.25s; 

}

#rollBtn:hover
{
  background-color: hsl(336, 92%, 60%);
}

#resultImg
{
  margin-top : 50px; 
}

#resultPara
{
  margin-top : 30px; 
  font-size: 2em;
}